:root {
  --dark: #161b1b;
  --white: #fff;
  --font-base: 'AzeretMono Black', monospace, Arial, -apple-system, BlinkMacSystemFont;
  --font-alt: 'Ephidona', monospace, Arial, -apple-system, BlinkMacSystemFont;
}

body {
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--font-base);
  text-transform: uppercase;
}

h1, h2, p {
  margin-bottom: 1rem;
}

a {
  color: var(--white);
  text-decoration: none;
}

header {
  background-color: var(--dark);
}

img {
  max-width: 100%;
  height: auto;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
}

main {
  padding: 2rem 0;
}

section#tools .col-6.col-md-3 {
  padding: 1rem 0;
}

section#tools p {
  font-size: 0.9rem;
}
