:root {
    --dark:#161b1b;
    --white:#fff;
    --font-base: 'AzeretMono Black', monospace, Arial,-apple-system,BlinkMacSystemFont;
    --font-alt: 'Ephidona',monospace, Arial,-apple-system,BlinkMacSystemFont;
}

@font-face {
    font-family: AzeretMono black;
    src: local('AzeretMono Black'),local("AzeretMono-Black"),url('./fonts/AzeretMono-Black.woff2'),format('woff2');
    font-weight: 900;
    font-style: normal;
    
}

@font-face {
    font-family: Ephidona black;
    src: local('Ephidona'),url(./fonts/Ephidona.woff2),format('woff22');
    font-weight: 400;
    font-style: normal;
}


html{
    scroll-behavior: smooth;
}
div {
    display: block;
    unicode-bidi: isolate;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.space{
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 20%;
    transform-origin: center top;
}

.photobox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.columna{

    flex-direction: column;

}
.photo {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-top: 50px;
    flex: 1 1 100px; 
    
}

.photo img{
    width: 60px; 
    height: auto; 
}


element.style {
    transform: none;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: min(var(--font-size), 100px);
    line-height: 1.2;
}

body {
    --font-size: 8.25vw;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--dark);
    font-family: var(--font-base);
    font-size: min(var(--font-size), 140px);
    line-height: 1.2;
    text-transform: uppercase;
}
a, body{
    color: var(--white);

}
.ephidona {
    font-family: "Ephidona", monospace, Arial, -apple-system, BlinkMacSystemFont;
    font-feature-settings: "aalt" on;
    font-weight: 400;
}

#format1 a{
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.format2{
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    padding: 5vh 0px 5vh;
    transform-origin: center top;
}

.c-H1{
    width: 100%;
    justify-content: space-between;
}

.c-H1-1{
    display: flex;
    align-items: center;
    justify-content: start;
    word-break: break-all;
}

.c-overflowH{
    overflow: hidden;
}


.p-small {
    font-family: var(--font-base);
    color: var(--white);
    font-size: calc(min(var(--font-size), 140px) / 5);
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
}

.small {
    font-family: var(--font-base);
    color: var(--white);
    font-size: calc(min(var(--font-size), 140px) / 4.5);
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0;
}
.verysmall{
    font-family: var(--font-base);
    color: var(--white);
    font-size: calc(min(var(--font-size), 130px) / 9);
    line-height: 1.1;
    text-transform: none;
    margin: 0;
}



.mainformat{
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 50vh 0px 50vh;
    transform-origin: center top;
}

.boxtext {
    display: inline-block; 
    width: 500px; 
    
    text-align: justify; 
}















/* ANIMACIONES jeje */

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
	        animation: slide-in-blurred-top 0.7s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
}

 @-webkit-keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-blurred-top {
    0% {
      -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
              transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
      -webkit-filter: blur(40px);
              filter: blur(40px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) scaleY(1) scaleX(1);
              transform: translateY(0) scaleY(1) scaleX(1);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  

  .flicker-in-1 {
	-webkit-animation: flicker-in-1 2s linear 1.5s both;
	        animation: flicker-in-1 2s linear 1.5s both;
}

 @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
