

<footer class=" rounded-none shadow m-4 bg-[#372862] backdrop-blur-lg w-full xl:w-[1200px] mx-auto mb-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-[#e54afa] sm:text-center">© 2023 <a href="/#top" class="hover:text-emerald-300">Miguel Cortes</a>
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-[#e54afa] sm:mt-0">
        <li>
            <a href="/portafolio/#" class="hover:text-emerald-300 me-4 md:me-6">Sobre mi</a>
        </li>
        <li>
            <a href="mailto:miguel.cortes.sandoval23@gmail.com" class="hover:text-emerald-300">Contacto</a>
        </li>
    </ul>
    </div>
</footer>
